.detailsContainer {
    display: flex;
    flex-direction: column;
    margin: 0 30%;
    gap: 10px;
    border: 1px solid var(--color-grey);
    border-radius: 15px;
    padding: 10px;
}

.detailsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.headline {
    text-decoration: underline;
}

.backLinkContainer {
    position: absolute;
    bottom: 20px;
    text-decoration: none;
}

.linkText {
    padding: 10px 30px;
    border-radius: 20px;
    background-color: var(--color-primary);
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}
